.credit-card{
    border-radius: 10px;
    width: 22rem;
    height: 11rem;
    font-family: Arial, sans-serif;
    color: var(--text-color);
    background-color: var(--bg-color);
    padding: 1.5rem;
    margin: 1rem;
  
}




.header{
 /*height: var(--height);*/
 height: 1.8rem;
  display: flex;
  justify-content: flex-end;
}
.credit-card-number {
    font-size: 2.2rem;
    padding: 1rem 0 4rem 0;
    text-align: center;
    letter-spacing: 0.2rem;

  }
  

  .credit-card-details {
    display: flex;
    gap: 1.2rem;

  }
  .credit-card-details p {
    padding: 0;
    margin: 0;
  }


