.credit-card{
  border-radius: 10px;
  width: 22rem;
  height: 11rem;
  font-family: Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
 
  margin: 1rem;
  
}




.header{
  /*margin-bottom: 1rem;*/
  margin-top: var(--margin-top);
  margin-bottom: var(--margin-bottom);
  margin-top:1.5rem;
  /*margin-top: 0.7rem;*/
  height: 2rem;
  display: flex;
  margin-right: var(--margin-right);
  justify-content: flex-end;
}
.credit-card-number {
  font-size: 1.9rem;
 
  text-align: center;
  letter-spacing: 0.2rem;
}

  
  

  .credit-card-details {
    display: flex;
    gap: 1.2rem;
    margin-left : 1.5rem;

    margin-top: 0.7rem;
   

  }
  .credit-card-details p {
    padding: 0;
    margin: 0;
  }

.credit-card-logo{
  height: var(--height)

}
.credit-card-owner{
  margin-left: 1.5rem;
}
